@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
}
/* CSS styles for product detail page */
.inner-contact {
  padding-left: 200px;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 80px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background:rgba(225, 225, 225, 0.3);
  font-weight: bold !important;
}

header.sticky {
  background:#D3B1C2;
}

header:hover {
  background:rgb(240, 241, 232, 1);
}

 .header.container{
    width: 100%;
    max-width: 1140px; 
    margin-left: auto;
    margin-right: auto;
 } 
 .inner-menu ul li {
    display: inline-block;
    padding: 20px;
 }
 a
 {  
     list-style-type: none;
     text-decoration: none;
     color: black;
 }

.header-main .container .inner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
/* end header */
  
body{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
#wrapper{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50vh;
}
form{
    border: 1px solid #7b879d;
    border-radius: 5px;
    padding: 60px;
}
h3{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.form-group{
    margin-bottom: 15px;
    position: relative;
}
input{
    margin-top: 10px;
    height: 50px;
    width: 300px;
    outline:none;
    border:1px solid #7b879d;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: #000000;
}
label{
    position: absolute;
    padding: 0px 5px;
    left: 5px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.form-group input:focus {
    border: 2px solid #7b879d;
}
.form-group input:focus + label, .form-group input:valid + label{
    top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #7b879d
}
input#signin{
    background: #7b879d;
    color: #fff;
    cursor: pointer;
}
input#signin:hover{
    opacity: 0.85;
}
input#ssignup {
  background: #7b879d;
  color: #fff;
  cursor: pointer;
}
input#ssignup:hover {
  opacity: 0.85;
}
.inner-menu ul li:nth-child(6) a{
  cursor: pointer;
}
input#changepass{
  background: #7b879d;
  color: #fff;
  cursor: pointer;
}
input#changepass:hover{
  opacity: 0.85;
}
input#change{
  background: #7b879d;
  color: #fff;
  cursor: pointer;
}
input#change:hover{
  opacity: 0.85;
}