
.grid-container {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Hiển thị 4 cột */
  grid-gap: 20px; /* Khoảng cách giữa các cột */
}

.result-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.result-item img {
  max-width: 100%;
}

.result-item img {
  max-width: 100%;
  max-height: 100px; /* Thay đổi kích thước chiều cao tùy ý */
  object-fit: contain; /* Đảm bảo hình ảnh không bị biến dạng */
}